table {
    border-spacing: 0;
}

td {
    background-color: white;
    padding: 0;
}

td.room {
    width: 40px;
    height: 40px;
}

td.wall {
    background-color: black;
}

td.noWall {
    background-color: white;
}

td.small {
    width: 10px;
}

td.wide {
    width: 40px;
}

td.high {
    height: 40px;
}

td.low {
    height: 10px;
}